.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center;  */
    border: 2px solid black;
    clip-path: polygon(0% 0%, 15% 100%, 85% 100%,  100% 0%);
    height: 100%;
    width: 42%;
    margin-left: 29%;
    background-image:  url(images/czyste_piwo.png), url(images/piana.png);
    background-position-y: 100%, 100%;
    background-size: 100% 0%, 100% 0%;  
    background-repeat: no-repeat;
  }
  .flex-container > div {
    /* height: 200px; */
    margin-top: 10px;
    justify-content: center;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  #grad1 {
    height: 200px;
    background-color: #cccccc;
    background-image: linear-gradient(red, yellow);
  }
  .tlo{
    display: flex;
    background-image: url(images/tlo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    height: 100%;
    margin-left: 15%;
  }
  body {
    height: 90%;
    width: 100%;
    position: absolute;
  }
  path 
  {
    stroke:"black";
    stroke-width:"3";
    fill:"none"; 
  }