.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center;  */
    height: 100%;
    width: 42%;
    margin-left: 29%;
    background-image:  url(images/czyste_piwo.png), url(images/piana.png);
    background-position-y: 100%, 100%;
    background-size: 100% 0%, 100% 0%;  
    background-repeat: no-repeat;
  }
  .flex-container > div {
    /* display: flex; */
    margin-top: 30px;
    justify-content: center;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  #grad1 {
    height: 200px;
    background-color: #cccccc;
    background-image: linear-gradient(red, yellow);
  }
  body {
    height: 100%;
    width: 100%;
    position: absolute;
  }